body {
  background-image: linear-gradient(red, yellow);
}

h3 {
  color: white;
  font-size: 250%;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 6px 6px 10px yellow;
  word-spacing: 8px;
}

img {
  width: 10%;
}

img:hover {
  width: 30%;
}
